
body {
  background-color: #315b8a;
  font-family: "Spectral SC", serif;
  margin:0;
  padding:0;
}

h1 {
  color: #fcca6c;
  text-align: center;
  margin: 2rem auto;
  line-height: 2;
  letter-spacing: 10px;
}
h2 {
  color: #315b8a;
  margin: 1rem auto;
  animation-name: command;
  animation-iteration-count: initial;
  transition: all 400ms ease-in;
  animation-duration: 3s;
}

@keyframes command {
  0%{
    opacity: 0;
    transform: scale(0.2)
  }
  100%{
    scale: (1.0);
    opacity: 1;
  }
}

.main-text {
  border-bottom: 2px solid #315b8a;
  width: 50%;
  margin: 0 auto;
}


#password{
  text-align: center;
}

.main-cont {
  background-color: rgba(254, 117, 104, 1);
  border: 4px solid #315b8a;
  border-radius: 5px;
  margin: 4em auto;
  width: 80%;
  align-content: center;
  justify-content: center;
  text-align: center;
  box-shadow: #548fcc  0px 0px 40px;
  
}

#password {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 60%;
  height: 150px;
  border: 2px dashed #315b8a;
  margin: 4rem auto;
}


.btn-left,
.btn-right {
  margin: 15px 15px 40px 15px;

  padding: 10px;
  border-radius: 100px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-left {
  background-color: #fcca6c;
}

.btn-right {
  background-color: #548fcc;
}

.btn-left:hover,
.btn-right:hover {
  box-shadow: rgb(87, 100, 116) 3px 3px 5px;
  transform: scale(1.05);
  transition: all ease-in-out 250ms;
  cursor:pointer;
}
